.App {
  /* text-align: center; */
  /* padding: 10px; */
  /* margin: 10px; */
}

.container {
  max-width: 4000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/*below used to be .App-header*/
.main-search-bar {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.search-form {
  padding:5px;
  margin: 5px;
}

.search-form-button {
  min-width: 6vh;
}

.participant-dropdown {
  min-width: 15vh;
}

.clear-all-filters-container {
  min-height: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-result-preview {
  font-size: 0.8em;
}

p > span {
  color: magenta;
}

.parent-article {
  height:300px;
  overflow-y: scroll;
  margin:5px;
  border: 1px solid grey;
  padding: 5px;
}

.refinement-list {
  margin:5px;
  padding:3px;
}